.chat_empty{
    color: #fff;
    text-align: center;
}

.chat{
    overflow: hidden;
    flex-grow: 1;
    max-height: calc(100% - 120px);
    padding: 10px;
    border-radius: 25px;
    
    .chatList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    height: 100%;
    overflow: scroll;
    margin-right: -10px;
    padding-right: 15px;

        .chatList_content{
            background: #252525;
            margin-top: 0.5rem;
            padding: 0.3rem;
            height: auto;
            border-radius: 8px;

            .chatList_message{
                font-size: 12px;
                margin: 0.5rem;

            }

            .chatList_date{
                font-size: 7px;
                color: #a0a0a0;
                text-align: right;
            }
        }
    }
}

